/*======== Global CSS ========*/
.tx-success{color:$success-color;}
.tx-danger{color:$danger-color;}
.tx-warning{color:$warning-color;}
.tx-primary{color:$primary-color;}
.tx-secondary{color:$secondary-color;}
.tx-success-border{border-color:$success-color;}
.tx-danger-border{border-color:$danger-color;}
.tx-warning-border{border-color:$warning-color;}
.tx-primary-border{border-color:$primary-color;}
.tx-secondary-border{border-color:$secondary-color;}
body{background: #FFF;}
hr{height: 1px;opacity: 0.1;border: 0 none;background: #000;margin: 15px 0;}
%nowrap{white-space:nowrap;overflow: hidden;text-overflow: ellipsis; }
.clear-after::after{content: '';display: block;clear: both;}
.btn.pro{width:190px;}
.section-title {
    font-size:22px;
    text-transform: uppercase;
    color:$primary-color;
    margin-bottom: 40px;
    text-align: center;
    span{ color:$secondary-color; }
    + p {
        margin-top: -40px;
        margin-bottom: 40px;
        font-size:15px;
        color:$gray-color;
        text-align: center;
    }
}
/*======== Top Navigation ========*/
.top-navigation {
    position: relative;
    z-index: 99;
    background:transparent;
    font-size:14px;
    line-height: 47px;
    height: 48px;
    overflow: hidden;
    [class*="ti-"] {
        display: inline-block;
        vertical-align: middle;
        font-size:16px;
        color:$dark-color;
        padding:0 5px;
    }
    ul {
        @extend %reset;
        word-spacing: -5px;
        display: inline-block;
        @extend %nowrap;
        li{
            vertical-align: middle;
            display: inline-block;
            padding:0 15px;
            color:$dark-color;
            word-spacing: normal;
            @extend %fast-motion;
            a{ color:$dark-color;@extend %fast-motion; }
            &:hover{
                color:$secondary-color;
                a{ color:$secondary-color; }
            }
        }
    }
}
/*======== Main Header ========*/
.main-header {
    .logo {
        display: inline-block;
        width:150px;
        height: 49px;
        @if( $page-dir == 'ltr' ) {background-image: url('../img/logo.png');}
        @else {background-image: url('../img/logo-rtl.png');}
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .dropdown{
        li{
            padding:10px 15px;
            font-size:14px;
            font-weight: normal;
            position: relative;
            .ti-close,.ti-star {
                position: absolute;
                top:0;
                #{$directionReverse}:0;
                width:25px;
                height: 35px;
                line-height: 35px;
                font-size:11px;
                color:$danger-color;
                cursor: pointer;
            }
            .ti-star {
                color: $warning-color;
                font-size: 13px;
            }

            .view-all {
                margin: -10px -15px;
                display: block;
                background: $primary-color;
                color:#FFF;
                text-align: center;
                text-transform: uppercase;
                font-size:14px;
                font-weight: $medium-weight;
                line-height: 32px;
                &:hover{ color:#FFF; }
            }
        }
    }
}

#search-box {
    .modal-content{
        width:75vw;
        max-width:640px;
        border-radius: 5px;
        overflow: visible;
        .form-ui{
            position: relative;
            input{ height: 52px;border-radius: 5px;margin: 0; }
            button {
                position: absolute;
                top: 0;
                #{$directionReverse}: 0;
                width:48px;
                height: 52px;
                border:0 none;
                font-size:18px;
                background: transparent;
                cursor: pointer;
            }
        }
        .close-modal {
            position: absolute;
            bottom: 100%;
            #{$directionReverse}:0;
            width:48px;
            height: 48px;
            font-size:16px;
            color:$danger-color;
            text-align: center;
            cursor: pointer;
            line-height: 48px;
        }
    }
}

/*======== Home Hero ========*/
.home-hero {
    position: relative;
    background:url('../img/hero-bg.png') no-repeat top $directionReverse;
    @if ($page-dir == 'rtl'){ background-image: url('../img/hero-bg-rtl.png'); }
    background-size: 70% auto;
    @media screen and (min-width:1024px) {
        padding-top: 170px;
        margin-top: -130px;
    }
    .col-m-7 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    h3 {
        font-size: 1.5rem;
        color: $primary-color;
        margin-bottom: 10px;
    }

    p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .btn {
        width: 200px;
    }
}

/*======== Advanced Search ========*/
.advanced-search {
    @extend %minus-indexing;
    padding-top:25px;
    background: $primary-color;
}

/*======== About US ========*/
.about-us {
    padding:50px 0;
    span{ font-weight: $medium-weight;color:$primary-color; }
    h2 { font-size:21px;margin-bottom: 10px; }
    p { font-size:1rem; }
    img{ border-radius: 10px; }
}

/*======== How it Works ========*/
.hiw {
    padding-top:50px;
    padding-bottom: 20px;
    background:#fafafa;
}

.hiw-block {
    margin-bottom: 30px;
    .content-box {
        @extend %flexbox;
        @extend .align-center-y ;
        i {
            display: inline-block;
            width:115px;
            height: 115px;
            border-radius: 50%;
            line-height: 115px;
            text-align: center;
            background: #FFF;
            -webkit-box-shadow: 0px 6px 16.38px 1.62px rgba(0, 0, 0, 0.04);
                    box-shadow: 0px 6px 16.38px 1.62px rgba(0, 0, 0, 0.04);
            @include small(false){display: none;}
        }
        .info {
            width:calc(100% - 115px);
            @include small(false){width:100%;}
            padding-#{$direction}:15px;
            h3 {
                font-size:16px;
                text-transform: uppercase;
                margin-bottom: 5px;
                color:$primary-color;
            }
            p {
                font-size:14px;
                color:$gray-color;
                margin: 0;
            }
        }
    }
}

/*======== Companies ========*/
.who {padding:50px 0;}
.company-grid {
    @extend %flexbox;
    -webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;
    a {
        padding:15px;
        text-align: center;
        min-width:115px;
        line-height: 110px;
        border:1px solid rgba(0, 0, 0, 0.10);
        -webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;
        position: relative;
        img{max-height: 100%;padding:15px;}
        &::before{
            content:attr(data-title);
            font-size:13px;
            padding:6px 10px;
            line-height: 1;
            background: rgba(0, 0, 0,0.75);
            color:#FFF;
            position: absolute;
            top:50%;
            left:50%;
            @extend %position-center-x;
            @extend %nowrap;
            opacity: 0;
            @extend %fast-motion;
        }
        &:hover::before{ opacity: 1; }
    }
}

/*======== Storeis ========*/
.success-stories {
    padding:50px 0;
    background: url(../img/storeis-bg.png);
    background-size: cover;
    .section-title{color:#FFF;}
    text-align: center;
    color:#FFF;
    img {
        width:150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    h3 {
        font-size:17px;
        color:#FFF;
        margin-bottom: 5px;
    }
    h4 {
        font-size:15px;
        color:$black-color;
        margin-bottom: 10px;
    }
    p {
        font-size:14px;
        color:#FFF;
        max-width:900px;
        margin: auto;
    }
    
    .slick-dots{
        position: absolute;
        top:0;
        left: 0;
        right:0;
        text-align: center;
        word-spacing: -5px;
        z-index: 5;
        li {
            display: inline-block;
            word-spacing: normal;
            margin: 0 10px;
            button {
                display: block;
                width:115px;
                height: 115px;
                border-radius: 50%;
                background-color:#ccc;
                opacity: 0.5;
            }
            &.slick-active button{opacity: 1;}
        }
    }
}

/*======== Jobs ========*/
.lateast-jobs {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fcfcfc;
}

.job-block {
    margin-bottom: 30px;
    .content-box {
        min-height: 100%;
        background: #FFF;
        -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.08);
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        padding:25px;
        position: relative;
        .save-job,.edit-btn{
            position: absolute;
            top:0;
            #{$directionReverse}:0;
            width:48px;
            height: 48px;
            color:$gray-color;
            line-height: 45px;
            text-align: center;
            @extend %fast-motion;
            &.saved{ color:$primary-color; }
        }
        h3 {
            font-size:16px;
            margin-bottom: 5px;
        }
        p {
            font-size:14px;
            margin-bottom: 5px;
        }
        span {
            font-size:15px;
            color:$gray-color;
            display: block;
        }
    }
}

.jobs-types {
    @extend %reset;
    word-spacing: -5px;
    text-align: center;
    margin-bottom: 30px;
    li {
        word-spacing: normal;
        border:1px solid rgba(0, 0, 0, 0.15);
        border-#{$directionReverse}-width:0;
        font-size:16px;
        line-height: 46px;
        display: inline-block;
        padding:0 30px;
        font-weight: $medium-weight;
        color:$secondary-color;
        text-transform: uppercase;
        @extend %fast-motion;
        a{ color:$secondary-color;@extend %fast-motion; }
        &:first-child{
            @if ( $page-dir == 'ltr' ) {
                border-radius:5px 0 0 5px;
            } @else {
                border-radius:0 5px 5px 0;
            }
        }
        &:last-child{
            border-#{$directionReverse}-width:1px;
            @if ( $page-dir == 'rtl' ) {
                border-radius:5px 0 0 5px;
            } @else {
                border-radius:0 5px 5px 0;
            }
        }
        &:hover,&.active{
            background: $primary-color;
            color:#FFF;
            a{ color:#FFF; }
        }
    }
}

.job-info {
    margin-bottom: 30px;
    padding:25px;
    background: #FFF;
    -webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.04);
            box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.04);
    border:1px solid rgba(0, 0, 0, 0.05);
    @extend %flexbox;
    @extend .align-center-y ;
    .image {
        width:170px;
        text-align: center;
        line-height: 100px;
    }
    .info {
        width:calc(100% - 330px);
        padding:0 25px;
        h3 {
            font-size:16px;
            margin-bottom: 0;
            color:$primary-color;
        }
        p {
            font-size:15px;
            margin-bottom: 0;
        }
        h4 {
            font-size:14px;
            color:$gray-color;
            display: block;
            font-family: $secondary-font;
        }
    }
    .btns{ 
        width:160px;
        .btn{margin-top: 5px;margin-bottom: 5px;}
     }
}

.job-details {
    p {
        margin-bottom: 15px;
        font-size:15px;
    }
    ul {
        @extend %reset;
        margin-bottom: 30px;
        li {
            padding: 5px 10px;
            color: $secondary-color;
            padding-#{$direction}:25px;
            position: relative;
            &::before {
                content:'>>';
                font-size:15px;
                color:$primary-color;
                position: absolute;
                top:5px;
                #{$direction}:0;
                width:25px;
            }
        }
    }
    ol {
        margin: 0;
        margin-bottom: 30px;
        padding: 0 15px;
        font-weight: $medium-weight;
        li{padding: 5px 10px;color:$secondary-color;}
    }
    .btn {
        width:200px;
    }
}

/*======== Statics ========*/
.statistics {
    padding-top:50px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
}

.statistics-block {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    h3 {
        font-size: 22px;
        margin-bottom: 5px;
        &::before{font-size:16px;}
    }
    h4 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
        color: $primary-color;
    }
    &::before {
        content: '';
        width:29px;
        height: 100%;
        background:url(../img/line-divide.png) center no-repeat;
        position: absolute;
        #{$directionReverse}:0;
        top:0;
    }
    &:last-child::before{display: none;}
}

/*======== Footer ========*/
.main-footer {
    background: url(../img/footer-bg.png) no-repeat;
    background-size: cover;
    .email-subscribe {
        h3 {
            margin-bottom: 25px;
            font-size:18px;
            color:#FFF;
            line-height: 42px;
        }
        padding-top: 25px;
        border-bottom: 1px solid rgba(255,255,255,0.10);
    }
    > .container {
        padding-top: 50px;
        padding-bottom: 20px;
        color:#FFF;
        .col-6{
            margin-bottom: 30px;
        }
        h3 { 
            font-size:17px;
            margin-bottom: 15px;
        }
        ul {
            @extend %reset;
            font-size:1rem;
            line-height: 37px;
            color:#FFF;
            li{@extend %nowrap;}
            a { color:#FFF; }
            [class*="ti-"]::before {
                font-size:17px;
                line-height: 35px;
                width:25px;
            }
        }
    }
}

.copyrights{
    background: $primary-color;
    color:#FFF;
    font-size:15px;
    line-height: 55px;
    a{color:#FFF;}
    text-align: center;
    margin-bottom: -15px;
}

/*======== Team Block ========*/
.team-block {
    text-align: center;
    margin-bottom: 30px;
    img {
        width:115px;
        height: 115px;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    h3 {
        font-size:16px;
        color:$primary-color;
        margin-bottom: 0;
    }
    h4 {
        font-size:14px;
        margin: 0;
    }
}

/*======== Inner Pages ========*/
.page-head {
    padding:50px 0;
    color:#FFF;
    text-transform: uppercase;
    h1 {
        font-size:25px;
        padding:30px 15px;
    }
}

.page-content {
    padding-top:50px;
    padding-bottom:50px;
}

.search-widget {
    position: relative;
    .btn{
        position: absolute;
        top:0;
        #{$directionReverse}:0;
    }
}

.area-title {
    font-size:17px;
    text-transform: uppercase;
    padding:10px 0;
    border-bottom:3px solid #b7b6b6;
    position: relative;
    margin-bottom: 25px;
    color:$primary-color;
    line-height: 1;
    &::before {
        content:'';
        display: block;
        width:120px;
        height: 3px;
        #{$direction}:0;
        bottom:-3px;
        position: absolute;
        background: $primary-color;
    }
}

.widget {
    margin-bottom: 30px;
    .area-title{margin-bottom: 10px;}
    ul {
        @extend %reset;
        li {
            font-size:15px;
            font-weight: $medium-weight;
            color:$gray-color;
            @extend %fast-motion;
            border-bottom: 1px solid rgba(0,0,0,0.10);
            padding:10px 0;
            span{
                float:$directionReverse;
                color:$black-color;
            }
            a {
                color:$gray-color;
                @extend %fast-motion;
            }
            &:hover{
                color:$primary-color;
                a{ color:$primary-color; }
            }
        }
    }
    .job-widget {
        margin-bottom: 15px;
        margin-top: 15px;
        h3 {
            font-size:15px;
            margin-bottom: 5px;
        }
        p {
            font-size:14px;
            margin-bottom: 5px;
        }
        span {
            font-size:14px;
            color:$gray-color;
            display: block;
        }
    }
}

.blog-block {
    margin-bottom: 30px;
    padding:30px;
    background: #FFF;
    border:1px solid rgba(0, 0, 0, 0.10);
    .cover-image {
        display: block;
        width:calc(100% + 60px);
        max-width: none;
        margin: -30px;
        margin-bottom: -42px;
    }
    .date {
        padding:0 25px;
        font-size:15px;
        color:#FFF;
        background: $primary-color;
        line-height: 42px;
        margin-bottom: 30px;
        display: inline-block;
        margin-#{$direction}:-30px;
    }
    .info {
        font-size:1rem;
        color:$gray-color;
        margin-bottom: 15px;
    }
    .title {
        font-size:1.2rem;
        color:$black-color;
        line-height: 1;
        margin-bottom: 10px;
    }
    p {
        font-size:15px;
        margin-bottom: 15px;
        color:$gray-color;
        &:last-child{margin-bottom: 0;}
    }
    .category {
        font-size:15px;
        font-family: $secondary-font;
        font-weight: $medium-weight;
    }
    .action-area {
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        font-size:15px;
        line-height: 40px;
        &::after{content:'';display: block;clear: both;}
        .tags{display: inline-block}
        .share {
            float:$directionReverse;
            a{font-size:17px;padding:0 5px;color:$gray-color;}
        }
    }
}

.pagination{
    @extend %reset;
    word-spacing: -5px;
    display: inline-block;
    padding:9px 25px;
    background: #f9fafc;
    font-size:14px;
    font-weight: $medium-weight;
    color:$secondary-color;
    line-height: 30px;
    text-transform: uppercase;
    li {
        display: inline-block;
        padding: 0 15px;
        margin: 0 5px;
        @extend %fast-motion;
        a {
            color: $secondary-color;
            @extend %fast-motion;
        }
    }
    li:not(.prev):not(.next) {
        word-spacing: normal;
        width:30px;
        text-align: center;
        padding: 0;
        border-radius: 5px;
        &.active,&:hover{
            background: $primary-color;
            color:#FFF;
            a{ color:#FFF; }
        }
     }
     .prev:hover,.next:hover{
         color:$primary-color;
         a{ color:$primary-color; }
     }
}

.comment-block {
    margin-bottom: 30px;
    .media img{width:85px;height: 85px;border-radius: 5px;}
    h6 {
        font-size: 16px;
        margin-bottom: 0;
        font-family: $secondary-font;
        span {
            float:$directionReverse;
            font-size:14px;
            color:$gray-color;
        }
    }
    p {
        font-size: 14px;
        color:$gray-color;
    }
    &.sub-comment{
        margin-#{$direction}:100px;
    }
}

.comment-form{margin-bottom: 30px;}

.contact-info {
    @extend %reset;
    font-size:17px;
    line-height: 30px;
    li {
        margin-bottom: 15px;
        &::before { width:35px;font-size:20px; }
        a{color:$secondary-color;}
    }
}

.form-ui.cv-form {
    input:not(.btn),textarea,select,keygen,textarea,.file-input{border-width:2px;background-color: #FFF;}
    .file-input{line-height: 38px;}
}

/*======== Profile ========*/
.profile-box {
    margin-bottom: 30px;
    padding:30px;
    background: #FFF;
    -webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.04);
            box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.04);
    border:1px solid rgba(0, 0, 0, 0.05);
    img {
        display: block;
        margin: auto;
        margin-bottom: 15px;
        width:170px;
        height: 170px;
        border-radius: 50%;
        border:1px solid rgba(0, 0, 0, 0.10);
    }
    h3 {
        font-size:16px;
        margin-bottom: 0;
        color:$primary-color;
        text-align: center;
    }
    p {
        font-size:15px;
        margin-bottom: 0;
    }
    h4 {
        font-size:14px;
        color:$gray-color;
        display: block;
        font-family: $secondary-font;
        text-align: center;
    }
    ul {
        @extend %reset;
        margin: 20px -30px;
        font-size:15px;
        line-height: 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        li {
            @extend %fast-motion;
            color:$secondary-color;
            font-weight: $medium-weight;
            padding:0 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
            a{ color:$secondary-color;@extend %fast-motion; }
            &:hover,&.active {
                color:$primary-color;
                a{ color:$primary-color; }
            }
        }
    }

    .social {
        @extend %flexbox;
        margin: 0 -5px;
        margin-bottom: 10px;
        a{
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            font-size:18px;
            line-height: 42px;
            text-align: center;
            margin: 5px;
        }
    }
}

.profile-content {
    ul {
        @extend %reset;
        font-size:16px;
        line-height: 24px;
        font-weight: $medium-weight;
        margin-bottom: 10px;
        li{margin-bottom: 20px;}
        h3 {
            display: block;
            font-size: 17px;
            margin-bottom: 5px;
            font-family: $secondary-font;
            color:$primary-color;
        }
    }
    .info-list span{
        display: inline-block;
        vertical-align: middle;
        width:100px;
    }
    .progress-bar {
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        width:calc(100% - 110px);
        &::before{display: none;}
    }
}

.wide-btn{min-width: 210px;}