/*=== Default Clean Buttons ===*/
.btns-group {
    @extend %flexbox;
    &.gutter-on {
        margin-right: -10px;
        margin-left: -10px;
        .btn {margin:7.5px 10px;}
    }
}

.btn {
    display: inline-block;
    padding:0 25px;
    height:42px;
    line-height: 40px;
    font-size: 14px;
    color:$dark-color;
    cursor: pointer;
    background:#f7f7f7;
    @extend %normal-motion;
    text-align: center;
    font-weight:$medium-weight;
    border:0 none;
    border-radius: 5px;
    .badge {
        margin-top: -3px;
        margin-#{$direction}:10px;
        &[class*="float-"] {margin:7px 0;}
    }
    &.round-corner { border-radius: 5px; }
    &.outline{ 
        background: transparent;
        color:$dark-color;
        border:2px solid $dark-bg;
        line-height: 38px;
    }
    //===== Buttons Sizes ====//
    &.tiny {
        font-size: 12px;
        padding: 0 15px;
        height: 27px;
        line-height: 25px;
        &.outline{line-height: 25px;border-width:1px;}
    }
    &.small {
        font-size: 13px;
        padding: 0 20px;
        height: 36px;
        line-height: 34px;
        &.outline{line-height: 32px;}
    }
    &.large {
        font-size: 16px;
        padding: 0 30px;
        height:50px;
        line-height: 47px;
        &.outline{line-height: 48px;border-width:3px;}
    }
    //==== Coloring Buttons ====//
    &.primary{
        background: $primary-color;color:$reverse-color;
        &:hover{background:$primary-color-hover;}
        &.outline {
            background: transparent;
            border-color: $primary-color;
            color:$primary-color;
            &:hover{background:$primary-color;color:$reverse-color;}
        }
    }

    &.secondary{
        background: $secondary-color;color:$reverse-color;
        &:hover{background:$secondary-color-hover;}
        &.outline {
            background: transparent;
            border-color: $secondary-color;
            color:$secondary-color;
            &:hover{background:$secondary-color;color:$reverse-color;}
        }
    }

    &.success{
        background: $success-color;color:$reverse-color;
        &:hover{background:darken( $success-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $success-color;
            color:$success-color;
            &:hover{background:$success-color;color:$reverse-color;}
        }
    }

    &.danger{
        background: $danger-color;color:$reverse-color;
        &:hover{background:darken( $danger-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $danger-color;
            color:$danger-color;
            &:hover{background:$danger-color;color:$reverse-color;}
        }
    }

    &.warning{
        background: $warning-color;color:$dark-color;
        &:hover{background:darken( $warning-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $warning-color;
            color:$warning-color;
            &:hover{background:$warning-color;color:$dark-color;}
        }
    }

    &.info{
        background: $info-color;color:$reverse-color;
        &:hover{background:darken( $info-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $info-color;
            color:$info-color;
            &:hover{background:$info-color;color:$reverse-color;}
        }
    }

    &.gray{
        background: $gray-color;color:$reverse-color;
        &:hover{background:darken( $gray-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $gray-color;
            color:$gray-color;
            &:hover{background:$gray-color;color:$reverse-color;}
        }
    }
    
    &.dark{
        background: $dark-color;color:$reverse-color;
        &:hover{background:darken( $dark-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $dark-color;
            color:$dark-color;
            &:hover{background:$dark-color;color:$reverse-color;}
        }
    }

    &.rounded{border-radius:100px;}
    
    &.circle{
        border-radius:50%;
        width:42px;
        padding:0;
        &.tiny{width: 27px;padding:0;}
        &.small{width: 36px;padding:0;}
        &.large{width:50px;padding:0;}
    }
}

/*======== Dropdown Lists ========*/
.dropdown {
    display: inline-block;
    position: relative;
    .btn::before {
        float: $directionReverse;
        margin-#{$direction}: 10px;
    }

    .dropdown-list {
        @extend %reset;
        position: absolute;
        top:100%;
        #{$direction}:0;
        display: none;
        background: #FFF;
        width:200px;
        border:1px solid rgba(0, 0, 0, .10);
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
                box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
        //==== Dropdown Arrow ====//
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            #{$direction}:12px;
            border: 7px solid transparent;
            border-bottom-color: #FFF;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            margin-bottom: 1px;
            #{$direction}:12px;
            border: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, .20);
        }
        //==== List item ====//
        li {
            font-size:14px;
            font-weight: $medium-weight;
            padding:10px 15px;
            border-bottom:1px solid rgba(0, 0, 0, .10);
            &:last-child { border-bottom: 0 none; }
            
        }

        a:not(.btn) {
            @extend %fast-motion;
            color:$gray-color; 
            &:hover{color:$primary-color;}
        }

        //==== Contact List Theme ====//
        &.contact-us {
            text-align: center;
            width:290px;
            h3 { font-size:1rem; }
            li {
                font-size: 15px;
                &:before{font-size: 25px;display: block;padding: 10px 15px;padding-bottom: 5px;}
                &.ti-mail {
                    color: $primary-color;
                    a {color: $primary-color;}
                }

                &.ti-whatsapp {
                    color: $whatsapp-color;
                    a {color: $whatsapp-color;}
                }
            }
            .title{display: block;}
            a:before,a.ti-mail:before,a.ti-phone:before {display: none;}
            p { font-size:14px;color:$gray-color; }

        }
        //==== Cart List Theme ====//
        &.cart-list {
            .info-item {color:$gray-color;}
            width:320px;
            .btns-item {
                @extend %flexbox;
                @extend .align-center-y ;
                .btn {
                    width: calc(50% - 10px);
                    margin: 0 5px;
                }
            }

            .cart-item {
                @extend %flexbox;
                @extend .align-center-y ;
                padding:15px;
                border-bottom: 1px solid rgba(0, 0, 0, .10);
                position: relative;
                background:#FFF;

                .image {
                    width: 65px;
                }
                
                .info { 
                    width:calc(100% - 65px);
                    padding-#{$direction}:15px;
                    
                    h3 {
                        font-size:15px;
                        font-weight: normal;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    h4 {
                        font-size:14px;
                        line-height: 30px;
                        font-weight: normal;
                        margin: 8px 0;
                        display: inline-block;
                        input {
                            border: 1px solid rgba(0, 0, 0, .10);
                            width:50px;
                            padding:0 5px;
                            height:30px;
                            margin: 0 5px;
                        }
                    }
                    
                    .price {
                        float: $directionReverse;
                        font-size: 14px;
                        color: $primary-color;
                        margin-top: 10px;
                    }
                 }
                 
                .remove-item {
                    position: absolute;
                    #{$directionReverse}: 15px;
                    bottom: 5px;
                    color: $danger-color;
                    font-size: 12px;
                }
            }
        }
    }
}