/*======== Header ========*/
body {
    background:url('../img/body-bg.png') top right no-repeat;
    @media screen and (min-width:3000px){ background-size: 100% auto; }
    padding-top: 50px;
}

.wow{visibility: hidden;}
.wow.animated{visibility: visible;}

.main-header {
    max-width:1170px;
    margin: auto;
    border: 0 none;
    border-radius: 10px 30px 10px 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
    &.is-sticky {
        max-width: 100%;
        border-radius: 0;
    }
    .action-btns .btn {
        position: relative;
        top: -2px;
    }
    .action-btns .icon-btn{
        padding: 0;
        display: inline-block;
        margin-#{$direction}:5px;
        width:36px;
        height: 36px;
        border:2px solid $dark-color;
        color:$dark-color;
        font-size:1.1rem;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        @extend %fast-motion;
        @include large(true){
            &.menu-btn{display: none;}
        };
        &:hover{
            background: $dark-color;
            color:$reverse-color;
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
        &.ti-facebook{
            border-color:$facebook-color;
            color:$facebook-color;
            &:hover{
                background:$facebook-color;
                color:$reverse-color;
            }
        }
        &.ti-twitter{
            border-color:$twitter-color;
            color:$twitter-color;
            &:hover{
                background:$twitter-color;
                color:$reverse-color;
            }
        }
        &.ti-instagram{
            border-color:$instagram-color;
            color:$instagram-color;
            &:hover{
                background:$instagram-color;
                color:$reverse-color;
            }
        }
    }

    /*==== Animation ====*/
    &.animated{
        -webkit-animation: fadeInDown 0.5s both;
                animation: fadeInDown 0.5s both;
    }
}



.home-header {
    margin-top: -50px;
    padding-top: 50px;
    background:url('../img/home-header-bg.png') left top no-repeat;
    min-height: 700px;
    .welcome-section{
        > .row{min-height: 450px;}
        h2{
            font-size:1.8rem;
            color:$primary-color;
            margin-bottom: 10px;
        }
        p {
            font-size:1rem;
            margin-bottom: 0;
        }
        @media screen and (min-width:1250px){
            img {
                position: absolute;
                top:50px;
                #{$directionReverse}:-50px;
                width:544px
            }
        }
    }
}


.companies-group {
    background:url('../img/lines.png') repeat-x center;
    .logo-block{
        margin-bottom: 30px;
        > a {
            display: block;
            padding-bottom: 100%;
            border-radius: 50%;
            background: #FFF;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
            position: relative;
            img {
                position: absolute;
                top:50%;
                left: 50%;
                @extend %position-center-z;
                padding:15px;
            }
            &::before{
                content:'';
                display: block;
                position: absolute;
                top:0;
                left: 0;
                right:0;
                bottom: 0;
                border-radius: 50%;
                border:5px solid $dark-color;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &.mashroo3k::before{
                border-color:$mashroo3k;
                -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &.mahacode::before{
                border-color:$mahacode;
                -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &.engaz::before{
                border-color:$engaz;
                -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &.gadwa::before{
                border-color:$gadwa;
                -webkit-transform: rotate(0);
                        transform: rotate(0);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &.hapynas::before{
                border-color:$hapynas;
                -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &.shaalan::before{
                border-color:$elshalan;
                -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }
    }
}

/*======== Enviroment ========*/
.section{
    margin-bottom: 50px;
    &.environment-section {
        .container{
            min-height: 440px;
            @extend %flexbox;
            @extend .align-center-y ;
        }
        .vector-image {
            position: absolute;
            #{$directionReverse}:0;
            width:33.333%;
            @media screen and (min-width:1250px) {
                #{$directionReverse}:-50px;
                width:40%;
            }
        }
        .content{
            width:100%;
            padding:40px 30px;
            background: #FFF;
            border-radius: 10px;
            @include large(true){padding-#{$directionReverse}:35%;};
            -webkit-box-shadow: 9.945px 1.045px 13px 0px rgba(0, 0, 0, 0.05);
                    box-shadow: 9.945px 1.045px 13px 0px rgba(0, 0, 0, 0.05);
            h3 {
                font-size:1.4rem;
                color:$primary-color;
                margin-bottom: 10px;
            }

            p {
                font-size:0.9rem;
                margin-bottom: 0;
            }
        }
    }
}

.company-section {
    .row{
        min-height: 500px;
    }
    .content-box{
        img {
            display: block;
            margin-bottom: 10px;
        }
        h2 {
            font-size:1.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
        p {
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            font-size:0.9rem;
            color:#303030;
            margin-bottom: 15px;
        }
        .btns {
            text-align: $directionReverse;
            .btn {
                min-width:170px;
                margin-#{$direction}:10px;
            }
        }
    }
    
    .vector-image {
        position: absolute;
        top:0;
        #{$direction}:-50px;
        width:45%;
    }
    .row-reverse .vector-image{
        top:0;
        #{$direction}:auto;
        #{$directionReverse}:-50px;
    }
}



.scroll-up {
    font-size:17px;
    width:48px;
    height: 48px;
    border:2px solid rgba(0, 0, 0, 0.15);
    color:rgba(#242424,0.5);
    text-align: center;
    line-height: 44px;
    background: #FFF;
    position: fixed;
    bottom: 30px;
    left:30px;
    z-index: 100;
    border-radius: 50%;
    @extend %fast-motion;
    opacity: 0;
    &.active{opacity: 1;}
}

.floating-companies {
    width:55px;
    position: fixed;
    top:50%;
    right:30px;
    @extend %position-center-y;
    opacity: 0;
    @extend %fast-motion;
    &.active{opacity: 1;}
    a {
        display: block;
        padding-bottom: 100%;
        border-radius: 50%;
        background: #FFF;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
        position: relative;
        margin-bottom: 15px;
        img {
            position: absolute;
            top:50%;
            left: 50%;
            @extend %position-center-z;
            padding:10px;
        }
        &::before{
            content:'';
            display: block;
            position: absolute;
            top:0;
            left: 0;
            right:0;
            bottom: 0;
            border-radius: 50%;
            border:2px solid $dark-color;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.mashroo3k::before{
            border-color:$mashroo3k;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.mahacode::before{
            border-color:$mahacode;
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.engaz::before{
            border-color:$engaz;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.gadwa::before{
            border-color:$gadwa;
            -webkit-transform: rotate(0);
                    transform: rotate(0);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.hapynas::before{
            border-color:$hapynas;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.shaalan::before{
            border-color:$elshalan;
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
}


/*======== Footer ========*/
.newsletter-cta {
    background: $primary-color;
    color:#FFF;
    padding-top: 50px;
    h3 {
        font-size:1.125rem;
        margin-bottom: 10px;
    }
    p {
        font-size:0.9rem;
        margin-bottom: 50px;
    }
    .newsletter-form {
        position: relative;
        .btn {
            position: absolute;
            top:0;
            #{$directionReverse}:0;
            width:130px;
        }
    }
}

.main-footer {
    padding-top: 50px;
    padding-bottom: 30px;
    h3 {
        font-size:1.063rem;
        color:#363636;
        margin-bottom: 15px;
    }
    ul {
        @extend %reset;
        font-size:15px;
        line-height: 30px;
        color:#878787;
        a{color:#878787;@extend %fast-motion;}
        li:hover a{ color:$primary-color; }
        margin-bottom: 20px;
        /*==== Links ====*/
        &.links {
            @extend %flexbox;
            li{
                width: 25%;
                @include small(false){ width:50% };
            }
        }
        /*==== Contact ====*/
        &.contact-list li::before {
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
            font-size:20px;
            width:30px;
        }
    }

    .btns {
        margin-bottom: 20px;
    }

    .btns .btn {
        position: relative;
        top: -2px;
    }
    .btns .icon-btn{
        padding: 0;
        display: inline-block;
        margin-#{$direction}:5px;
        width:36px;
        height: 36px;
        border:2px solid $dark-color;
        color:$dark-color;
        font-size:1.1rem;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        @extend %fast-motion;
        @include large(true){
            &.menu-btn{display: none;}
        };
        &:hover{
            background: $dark-color;
            color:$reverse-color;
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
        &.ti-facebook{
            border-color:$facebook-color;
            color:$facebook-color;
            &:hover{
                background:$facebook-color;
                color:$reverse-color;
            }
        }
        &.ti-twitter{
            border-color:$twitter-color;
            color:$twitter-color;
            &:hover{
                background:$twitter-color;
                color:$reverse-color;
            }
        }
        &.ti-instagram{
            border-color:$instagram-color;
            color:$instagram-color;
            &:hover{
                background:$instagram-color;
                color:$reverse-color;
            }
        }
    }
}

.copyrights {
    border-top:1px solid rgba(0, 0, 0, 0.15);
    font-size:15px;
    line-height: 55px;
    font-weight: $medium-weight;
    color:$gray-color;
    text-align: center;
    .ti-heart{
        padding:0 5px;
        color:$danger-color;
    }
    p{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    img{
        display: inline-block;
        max-width: 130px;
        vertical-align: middle;
    }
}

/*======== News ========*/
.page-content {
    margin-top: 50px;
}

.banner-block {
    margin-bottom: 30px;
    display: block;
    img{border-radius: 10px;}
}

.content-wrap,.widget-wrap{
    border-radius: 10px;
    background: #FFF;
    padding:30px;
    /*==== Area Title ====*/
    .title {
        background:#fbfbfb;
        font-size:1.063rem;
        line-height: 39px;
        color:$primary-color;
        height: 38px;
        margin-bottom: 30px;
        &::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width:5px;
            height: 38px;
            border-radius: 10px;
            background: $primary-color;
            margin-#{$directionReverse}:20px;
        }
    }
    /*==== Single ====*/
    .cover {
        border-radius: 5px;
        margin-bottom: 30px;
        display: block;
    }

    .rich-content{
        margin-bottom: 30px;
        h1,.h1 {
            font-size: 1.25rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        h2,.h2 {
            font-size: 1.15rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        h3,.h3 {
            font-size: 1.05rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        h4,.h4 {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        h5,.h5 {
            font-size: 0.9rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        h6,.h6 {
            font-size: 0.8rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        p {
            font-size:0.9rem;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }

    .sharebar {
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        margin: 0 -30px;
        margin-bottom: 30px;
        border-top:1px solid rgba(0, 0, 0, 0.15);
        border-bottom:1px solid rgba(0, 0, 0, 0.15);
        padding:15px 0;
        .icon-btn{
            padding: 0;
            display: inline-block;
            margin-#{$direction}:5px;
            width:36px;
            height: 36px;
            border:2px solid $dark-color;
            color:$dark-color;
            font-size:1rem;
            line-height: 34px;
            text-align: center;
            border-radius: 50%;
            vertical-align: middle;
            @extend %fast-motion;
            @include large(true){
                &.menu-btn{display: none;}
            };
            &:hover{
                background: $dark-color;
                color:$reverse-color;
                -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
            }
            &.ti-facebook{
                border-color:$facebook-color;
                color:$facebook-color;
                &:hover{
                    background:$facebook-color;
                    color:$reverse-color;
                }
            }
            &.ti-twitter{
                border-color:$twitter-color;
                color:$twitter-color;
                &:hover{
                    background:$twitter-color;
                    color:$reverse-color;
                }
            }
            &.ti-instagram{
                border-color:$instagram-color;
                color:$instagram-color;
                &:hover{
                    background:$instagram-color;
                    color:$reverse-color;
                }
            }
        }
    }
}

.content-list {
    @extend %reset;
    .content-item {
        @extend %flexbox;
        @extend .align-center-y ;
        margin-bottom: 30px;
        img{
            width:100px;
            height: 80px;
            border-radius: 5px;
            display: block;
        }
        .info {
            width:calc(100% - 100px);
            padding-#{$direction}:15px;
            h3 {
                font-size:15px;
                line-height: 22px;
                color:$dark-color;
                @extend %fast-motion;
                margin-bottom: 5px;
            }
            p {
                font-size:14px;
                color:$gray-color;
                margin-bottom: 0;
            }
        }
        &:hover{
            img {
                -webkit-animation: shake 0.5s linear;
                        animation: shake 0.5s linear;
            }
            h3 {
                color:$primary-color;
            }
        }
    }
}

.news-block {
    margin-bottom: 30px;
    position: relative;
    .image {
        padding-bottom: 82%;
        border-radius: 5px;
        &::before{
            border-radius: 5px;
            content: '';
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.75)));
            background-image:linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
        }
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        padding:25px;
        h3 {
            font-size:1rem;
            color:#FFF;
            margin-bottom: 3px;
            @extend %nowrap;
        }
        p {
            font-size:0.8rem;
            margin-bottom: 0;
            color:#FFF;
            line-height: 22px;
            height: 44px;
            overflow: hidden;
        }
    }
}

.pagination {
    @extend %reset;
    word-spacing: -5px;
    margin-bottom: 20px;
    li {
        margin-bottom: 10px;
        word-spacing: normal;
        display: inline-block;
        width:42px;
        height: 42px;
        line-height: 44px;
        font-size:14px;
        background: #efefef;
        border-radius: 50px;
        text-align: center;
        font-weight: $medium-weight;
        @extend %fast-motion;
        a,span{
            color:$gray-color;
            @extend %fast-motion;
            vertical-align: middle;
        }
        margin-#{$directionReverse}:15px;
        &.button{width:140px;}
        &:hover,&.active{
            color:#FFF;
            background: $primary-color;
            a{color:#FFF;}
        }
    }
}

.comments{
    @extend %reset;
    margin: 0 -30px;
    .comment-block {
        margin-bottom: 20px;
        padding-bottom: 20px;
        &:not(:last-child){border-bottom: 1px solid rgba(0, 0, 0, 0.15);}
        img {
            display: inline-block;
            vertical-align: middle;
            width:50px;
            height: 50px;
            border-radius: 50%;
            margin-#{$directionReverse}:15px;
        }
        h3 {
            display: inline-block;
            vertical-align: middle;
            background: transparent;
            font-size:15px;
            color:$dark-color;
            line-height: 1.2;
            margin: 0;
            &::before{display: none;}
            span{
                display: block;
                font-size:13px;
                color:$gray-color;
                margin-bottom: 5px;
                font-weight: normal;
            }
        }
        p {
            font-size:14px;
            margin-top: 15px;
            margin-bottom: 0;
        }
    }
}

.media-block {
    margin-bottom: 30px;
    .content-box{
        background: #FFF;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        overflow: hidden;
        .image {
            padding-bottom: 75%;
            position: relative;
            &::before {
                font-size:26px;
                color:$reverse-color;
                line-height: 48px;
                width:48px;
                text-align: center;
                position: absolute;
                top:10px;
                #{$direction}:10px;
            }
        }
        h3 {
            padding:20px 25px;
            font-size:0.9rem;
            color:$dark-color;
            line-height: 1.5;
            text-align: center;
            @extend %fast-motion;
        }
    }
}

.photo-slider {
    margin-bottom: 10px;
    .item{
        padding-bottom: 50%;
        border-radius:5px;
    }
}
.photo-thumbnails{
    margin: 0 -10px;
    margin-bottom: 30px;
    .slick-slide {
        padding:0 10px;
    }
    .item{
        padding-bottom: 50%;
        border-radius:5px;
    }
}

.search-bar {
    @extend %flexbox;
    @extend .align-between ;
    padding:0 15px;
    border-radius: 5px;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    .form-ui{
        margin-top: 15px;
        word-spacing: -5px;
        input,select,label{
            word-spacing: normal;
            width:auto;
            display: inline-block;
            margin-bottom: 15px;
        }
        &.search {
            input{width:210px;}
            input.btn{
                width:100px;
                margin-#{$direction}:15px;
                border-radius: 5px;
            }
        }
        label{margin-#{$directionReverse}:15px;}
    }
}

.requerments-title{
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size:1.125rem;
    color:$primary-color;
    line-height: 1;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
}

.job-requerments ul {
    @extend %reset;
    margin-bottom: 30px;
    li {
        font-size:15px;
        line-height: 30px;
        margin-bottom: 10px;
        font-weight: $medium-weight;
        position: relative;
        padding-#{$direction}:25px;
        &::before {
            font-family: $font-icon;
            font-size:1rem;
            width:25px;
            position: absolute;
            top:0;
            #{$direction}:0;
            line-height: 27px;
            @if ( $page-dir == 'rtl' ){
                content: "\39";
            } @else {
                content: "\2c";
            }
        }
    }
}

.apply-button{margin-bottom: 30px;}