[data-icon]:before {
    font-family: "tornado-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    content: attr(data-icon);
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    display: inline-block;
    direction: ltr;
}

[class^="ti-"]:before,[class*=" ti-"]:before {
    font-family: "tornado-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    display: inline-block;
    direction: ltr;
}

/*===== Baisc icons =====*/
@import 'icons/Baisc';

/*===== Action icons =====*/
@import 'icons/Action';

/*===== Arrows icons =====*/
@import 'icons/Arrows';

/*===== Business icons =====*/
@import 'icons/Business';

/*===== Connection icons =====*/
@import 'icons/Connection';

/*===== Device icons =====*/
@import 'icons/Device';

/*===== eCommerce icons =====*/
@import 'icons/eCommerce';

/*===== Editor icons =====*/
@import 'icons/Editor';

/*===== Emoticons icons =====*/
@import 'icons/Emoticons';

/*===== Fashion icons =====*/
@import 'icons/Fashion';

/*===== Files icons =====*/
@import 'icons/Files';

/*===== Food icons =====*/
@import 'icons/Food';

/*===== Games icons =====*/
@import 'icons/Games';

/*===== Hardware icons =====*/
@import 'icons/Hardware';

/*===== Medical icons =====*/
@import 'icons/Medical';

/*===== Multimedia icons =====*/
@import 'icons/Multimedia';

/*===== Others icons =====*/
@import 'icons/Others';

/*===== Payment icons =====*/
@import 'icons/Payment';

/*===== People icons =====*/
@import 'icons/People';

/*===== Social icons =====*/
@import 'icons/Social';

/*===== Technical icons =====*/
@import 'icons/Technical';

/*===== Transporting icons =====*/
@import 'icons/Transporting';

/*===== Weather icons =====*/
@import 'icons/Weather';