/*======== Standard Header ========*/
.tornado-header {
    $thisHeight:76px;
    border:1px solid rgba(0,0,0,0.10);
    padding:0 15px;
    background: transparent;
    @extend %fast-motion;
    position: relative;
    z-index: 100;
    //=== Container Layout ===//
    .container,.container-fluid,.container-xl {
        @extend %flexbox;
        @extend .align-between;
        @extend .align-center-y;
        min-height:$thisHeight;
        &::after{ display: none; }
    }
    //=== Logo ===//
    .logo {
        h1 {
            font-size: 24px;
            font-weight: $medium-weight;
            color:$primary-color;
            text-transform: uppercase;
        }
    }
    //=== Navigation Menu ===//
    .navigation-menu {
        font-family: $secondary-font;
        @include navigation-custom-theme (
            $height:$thisHeight,// Height
            $font-size:15px, // Font-size
            $font-weight:$medium-weight, // Font Weight
            $color:$black-color, // Text Color
            $hvr-color:$black-color, // Hover Color
            $hvr-bg:transparent, // Hover Background
            $sub-color:$black-color, // Submenu Color
            $sub-bg:#FFF,// Submenu Background
            $sub-font-size:14px, // Submenu Font-size
            $sub-height:40px, // Submenu Height
            $sub-hvr-bg:rgba(0, 0, 0, 0.05), // Submenu Hover Background
            $sub-hvr-color:$black-color // Submenu Hover Color
        );
        > ul > li > a { text-transform: uppercase;font-family: $secondary-font; }
    }
    
    //=== Actions Buttons ===*/
    .action-btns {
        .icon-btn {
            display: inline-block;
            width:43px;
            height: 43px;
            line-height: 38px;
            font-size:23px;
            color:$gray-color;
            @extend %fast-motion;
            &:hover { color:$black-color; }
            &.menu-btn{
                display: none;
                @media screen and (max-width:$medium-query-down+1) { display: inline-block; }
            }
        }
        [data-notifications]{
            position: relative;
            &::after{
                content:attr(data-notifications);
                position: absolute;
                bottom:10px;
                #{$directionReverse}:30%;
                width:16px;
                height: 16px;
                border-radius: 50%;
                background: $danger-color;
                color:#FFF;
                font-size:9px;
                text-align: center;
                line-height: 16px;
            }
        }
    }

    //=== Actions Buttons ===*/
    .dropdown {
        .dropdown-list {
            #{$direction}:auto;
            #{$directionReverse}:0;
            &::after,&::before { 
                #{$direction}:auto;
                #{$directionReverse}:22px;
             }
        }

        @include medium(true){
            &:hover {
                .dropdown-list{display: block;}
            }
        };
        
        @include small(false) {
            position: static;
            .dropdown-list {
                margin-top: -18px;
                width:100%;
                &::before{display: none;}
                &::after{display: none;}
            }
        };
    }

    //=== Search Box ===*/
    .search-box {
        display: inline-block;
        position: relative;
        @include medium(true) { width:230px; }
        &.form-ui { input { margin-bottom: 0; } }
        .search-btn {
            position: absolute;
            #{$directionReverse}:0;
            top:0;
            bottom: 0;
            background:transparent;
            color:$gray-color;
            width:38px;
            border:0 none;
            cursor: pointer;
        }
    }

    .btn {
        margin-#{$direction}: 15px;
    }
    
    //=== Sticky Header ===//
    &.is-sticky {
        position: fixed;
        top:0;
        right:0;
        left:0;
        z-index: 150;
        background: #FFF;
    }
}