/*======== Colored Borders ========*/
.success-border {
    border-color: $success-color;
}

.danger-border {
    border-color: $danger-color;
}

.warning-border {
    border-color: $warning-color;
}

.primary-border {
    border-color: $primary-color;
}

.secondary-border {
    border-color: $secondary-color;
}

.light-border {
    border-color: $light-color;
}

.info-border {
    border-color: $info-color;
}

.gray-border {
    border-color: $gray-color;
}

.dark-border {
    border-color: $dark-color;
}

.facebook-border {
    border-color: $facebook-color;
}

.twitter-border {
    border-color: $twitter-color;
}

.google-plus-border {
    border-color: $google-plus-color;
}

.youtube-border {
    border-color: $youtube-color;
}

.tumblr-border {
    border-color: $tumblr-color;
}

.instagram-border {
    border-color: $instagram-color;
}

.android-border {
    border-color: $android-color;
}

.snapchat-border {
    border-color: $snapchat-color;
}

.whatsapp-border {
    border-color: $whatsapp-color;
}

.pinterest-border {
    border-color: $pinterest-color;
}

.linkedin-border {
    border-color: $linkedin-color;
}

.behance-border {
    border-color: $behance-color;
}

.apple-border {
    border-color: $apple-color;
}

.dribbble-border {
    border-color: $dribbble-color;
}

.envato-border {
    border-color: $envato-color;
}

.flicker-border {
    border-color: $flicker-color;
}

.github-border {
    border-color: $github-color;
}

/*======== Text Colors ========*/
.success-color {
    color: $success-color;
}

.danger-color {
    color: $danger-color;
}

.warning-color {
    color: $warning-color;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.light-color {
    color: $light-color;
}

.info-color {
    color: $info-color;
}

.gray-color {
    color: $gray-color;
}

.dark-color {
    color: $dark-color;
}

.facebook-color {
    color: $facebook-color;
}

.twitter-color {
    color: $twitter-color;
}

.google-plus-color {
    color: $google-plus-color;
}

.youtube-color {
    color: $youtube-color;
}

.tumblr-color {
    color: $tumblr-color;
}

.instagram-color {
    color: $instagram-color;
}

.android-color {
    color: $android-color;
}

.snapchat-color {
    color: $snapchat-color;
}

.whatsapp-color {
    color: $whatsapp-color;
}

.pinterest-color {
    color: $pinterest-color;
}

.linkedin-color {
    color: $linkedin-color;
}

.behance-color {
    color: $behance-color;
}

.apple-color {
    color: $apple-color;
}

.dribbble-color {
    color: $dribbble-color;
}

.envato-color {
    color: $envato-color;
}

.flicker-color {
    color: $flicker-color;
}

.github-color {
    color: $github-color;
}

/*======== Backgrounds Colors ========*/
.success-bg {
    background-color: $success-color;
    color: #FFF;
}

.danger-bg {
    background-color: $danger-color;
    color: #FFF;
}

.warning-bg {
    background-color: $warning-color;
    color: #FFF;
}

.primary-bg {
    background-color: $primary-color;
    color: #FFF;
}

.secondary-bg {
    background-color: $secondary-color;
    color: #FFF;
}

.light-bg {
    background-color: $light-color;
    color: #2b2b2b;
}

.info-bg {
    background-color: $info-color;
    color: #FFF;
}

.gray-bg {
    background-color: $gray-color;
    color: #FFF;
}

.dark-bg {
    background-color: $dark-color;
    color: #FFF;
}

.facebook-bg {
    background-color: $facebook-color;
    color: #FFF;
}

.twitter-bg {
    background-color: $twitter-color;
    color: #FFF;
}

.google-plus-bg {
    background-color: $google-plus-color;
    color: #FFF;
}

.youtube-bg {
    background-color: $youtube-color;
    color: #FFF;
}

.tumblr-bg {
    background-color: $tumblr-color;
    color: #FFF;
}

.instagram-bg {
    background-color: $instagram-color;
    color: #FFF;
}

.android-bg {
    background-color: $android-color;
    color: #FFF;
}

.snapchat-bg {
    background-color: $snapchat-color;
    color: #FFF;
}

.whatsapp-bg {
    background-color: $whatsapp-color;
    color: #FFF;
}

.pinterest-bg {
    background-color: $pinterest-color;
    color: #FFF;
}

.linkedin-bg {
    background-color: $linkedin-color;
    color: #FFF;
}

.behance-bg {
    background-color: $behance-color;
    color: #FFF;
}

.apple-bg {
    background-color: $apple-color;
    color: #1c1c1c;
}

.dribbble-bg {
    background-color: $dribbble-color;
    color: #FFF;
}

.envato-bg {
    background-color: $envato-color;
    color: #FFF;
}

.flicker-bg {
    background-color: $flicker-color;
    color: #FFF;
}

.github-bg {
    background-color: $github-color;
    color: #2b2b2b;
}

.success-bg-light {
    background-color: $success-bg;
    color: rgba(0, 0, 0, 0.5);
}

.danger-bg-light {
    background-color: $danger-bg;
    color: rgba(0, 0, 0, 0.5);
}

.warning-bg-light {
    background-color: $warning-bg;
    color: rgba(0, 0, 0, 0.5);
}

.primary-bg-light {
    background-color: lighten($primary-color, $amount: 35);
    color: rgba(0, 0, 0, 0.5);
}

.secondary-bg-light {
    background-color: lighten($secondary-color, $amount: 35);
    color: rgba(0, 0, 0, 0.5);
}

.info-bg-light {
    background-color: $info-bg;
    color: rgba(0, 0, 0, 0.5);
}