/*===== Default Modals =====*/
.modal-box {
    //==== Base ===//
	@extend %flexbox;
    @extend .align-center-z ;
    @extend %minus-indexing;
    @extend %fast-motion;
	visibility:hidden;
    position:fixed;
    top:0;
	#{$direction}:0;
    height:100vh;
    width:100vw;
	z-index:9999;
    opacity:0;
    //===== Activate ===//
    &.active{
        visibility:visible;
        opacity:1;
        -webkit-transition: all 0.5s;
        transition:all 0.5s;
    }
    //=== Overlay ===//
    .modal-overlay{
        position:absolute;
        top:0;
        #{$direction}:0;
        height:100%;
        width:100%;
        background:rgba(0,0,0,.75);
        z-index:-1;
    }
    //=== Content Box ===//
    .modal-content{
        position:relative;
        z-index:100;
        background:#FFF;
        width:670px;
        border-radius:5px;
        @include small(false) { width:90%; }
        .close-modal{cursor:pointer;}
        //=== Head ===//
        .modal-head{
            padding:12px 20px;
            border-bottom:1px solid rgba(0,0,0,.10);
            font-weight:$medium-weight;
            font-size:1rem;
            .close-modal{
                padding: 0;
                float:$directionReverse;
                font-size:14px;
                line-height: 23px;
                height: 20px;
                border:0 none;
                color:$danger-color;
                background: transparent;
                text-align: center;
                width:20px;
            }
        }
        //=== Body ===//
        .modal-body{
            padding:20px;
            overflow:auto;
            max-height:calc(100vh - 130px);
        }
        //=== Footer ===//
        .modal-footer{
            @extend %flexbox;
            @extend .align-between ;
            padding:10px 20px;
            border-top:1px solid rgba(0,0,0,.10);
            .btn{margin: 0;}
        }
    }
}

/*======== Call to Action Theme ========*/
.cta-modal {
    .modal-content {
        padding:30px;
        text-align: center;
        /*==== Close Button ====*/
        .close-modal:not(.btn) {
            position: absolute;
            top:15px;
            #{$directionReverse}:15px;
            font-size:14px;
            line-height: 30px;
            height: 30px;
            color:$danger-color;
            text-align: center;
            width:30px;
        }
        /*==== Content ====*/
        .large-icon{
            display: inline-block;
            font-size:70px;
            margin-bottom: 10px;
            line-height: 1;
        }
        h3 {
            font-size:22px;
            margin-bottom: 5px;
        }
        .rating-stars {
            font-size:1.8rem;
            margin-bottom: 10px;
            color:$gray-color;
            line-height: 1;
            .active{ color:$warning-color; }
        }
        .social-btns {
            margin-bottom: 5px;
            .btn{margin: 5px}
        }
        /*==== Action Footer ====*/
        .modal-footer{
            border:0 none;
            padding:0;
        }
    }
}