.mahacode-copyrights {
    float: $directionReverse;
    position: relative;
    //=== Tooltip ===//
    .mc-tooltip {
        visibility: hidden;
        opacity: 0;
        width: 300px;
        border-radius: 5px;
        position: absolute;
        background: #FFF;
        color: #242424;
        font-size: 14px;
        bottom: 100%;
        #{$directionReverse}: 0;
        @extend %fast-motion;
        line-height: normal;
        //== Tooltip Title ==//
        h3 {
            font-size: 14px;
            padding: 0 15px;
            font-weight: 500;
            line-height: 46px;
            border-bottom: 1px solid rgba(0, 0, 0, .10);
            color: #249c6b;
            margin-bottom: 15px;
        }
        //== Tooltip Text ==//
        h4 {
            font-size: 14px;
            padding: 0 15px;
            font-weight: 500;
            line-height: 30px;
            margin: 0;
            color: #249c6b;
            &:before {
                font-size: 16px;
                margin-#{$directionReverse}: 10px;
            }
        }
        //== Tooltip Arrow ==//
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            #{$directionReverse}: 15px;
            border: 10px solid transparent;
            border-top-color: #FFF;
        }
        //== Icons ==//
        .btns-icons {
            line-height: 60px;
            border-top: 1px solid rgba(0, 0, 0, .10);
            text-align: center;
            //== icons btns ==//
            a {
                margin: 0 2px;
                display: inline-block;
                vertical-align: middle;
                line-height: 30px;
                color: #FFF;
                width: 30px;
                text-align: center;
                height: 30px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: normal;
                @extend %fast-motion;
                &.ti-home {background: #249c6b;}
                &.ti-skype {background: #1fc4f3;}
                &.ti-whatsapp {background: #40b857;}
                &.ti-behance {background-color: #009cff;}
                &.ti-linkedin {background-color: #009cff;}
                &.ti-instagram {background: #cca767;}
                &.ti-twitter {background: #1fc4f3;}
                &.ti-facebook {background: #546bf8;}
            }
        }
    }
}

.mahacode-copyrights:hover .mc-tooltip {
    visibility: visible;
    opacity: 1;
}

@include small(false) {
    .copyrights {
        text-align: center;
    }

    .mahacode-copyrights {
        display: block;
        text-align: center;
        float: none;
        display: inline-block;
    }
}