//==========  Global ==========//
%reset{
    padding:0;
    margin:0;
    list-style: none;
}

%minus-indexing {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

%clear-after{
    content: '';
    display: block;
    clear: both;
}

%flexbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

%select-theme{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-repeat:no-repeat;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48cGF0aCBkPSJNMTAuNSAxNWw3LjUgNy41IDcuNS03LjV6Ii8+PC9zdmc+);
    background-size:20px;
    background-position:$directionReverse 15px center;
}

//========== Transitions Effects ==========//
%slow-motion{
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

%normal-motion{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

%fast-motion{
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

//========== Absolute Positioning ==========//
%position-center-x {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

%position-center-y {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

%position-center-z {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

%position-default {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
}

//========== Indexing ==========//
%desc-index {
    &:nth-child(1){z-index: 25;}
    &:nth-child(2){z-index: 24;}
    &:nth-child(3){z-index: 23;}
    &:nth-child(4){z-index: 22;}
    &:nth-child(5){z-index: 21;}
    &:nth-child(6){z-index: 20;}
    &:nth-child(7){z-index: 19;}
    &:nth-child(8){z-index: 18;}
    &:nth-child(9){z-index: 17;}
    &:nth-child(10){z-index: 16;}
}