/*======== Global ========*/
.no-padding {padding: 0;}

.fluid,.block-lvl {
    width: 100%;
}

.float-start {float: $direction;}
.float-end {float: $directionReverse;}

iframe {
    max-width: 100%;
    border: 0 none;
}

[data-src] {
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}
