/*======== Tables CSS ========*/
.table {
    width:100%;
    border-collapse: collapse;
    font-size:14px;
    font-weight: $medium-weight;
    line-height: 1;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
    background: #FFF;
    tr{
        padding:0 20px;
        td,th{
            padding:15px 0;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.10);
            text-align: inherit;
            &:last-child{text-align: center;}

            .view-btn,.apply-btn{
                display: inline-block;
                width:35px;
                font-size:20px;
                text-align: center;
            }
            .view-btn{color:$danger-color;}
            .apply-btn{color:$success-color;}
        }
    }
    
    /*==== Striped Table ====*/
    &.striped{
        td,th {
            padding:20px 0;
            border-bottom: 0 none;
            &:first-child{padding-#{$direction}:20px;}
        }
        tbody tr:not([class*="-bg"]):nth-child(odd){
            td:not([class*="-bg"]),th:not([class*="-bg"]) {background:rgba(0,0,0,.01);}
        }
    }

    /*==== Bordered Table ====*/
    &.bordered {
        border: 1px solid rgba(0, 0, 0, .10);
        td,th {
            border-bottom: 1px solid rgba(0, 0, 0, .10);
        }

        thead:not([class*="-bg"]) {
            td:not([class*="-bg"]),th:not([class*="-bg"]){font-weight: $medium-weight;background:rgba(0,0,0,.03);}
        }
        
        &.striped thead tr:not([class*="-bg"]):nth-child(odd){
            td:not([class*="-bg"]),th:not([class*="-bg"]) {background:inherit;}
        }
    }

    
}

.responsive-table,.responsive-sm-table{
    margin-bottom: $gutterSize;
}

@include medium(false) { 
    .responsive-table{overflow: auto;}
    .responsive-table .table{width:970px;}
}

@include small(false) { 
    .responsive-sm-table{overflow: auto;}
    .responsive-sm-table .table{width:768px;}
}